<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tripmaker</title>
    <link href="./home.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


</head>
<body class="body"> 
    <header class="nav-bar" id="home">
        <div class="title">
            <span class="material-symbols-outlined">
                travel
            </span>
            <h1>Tripmaker</h1>
        </div>
        <div class="item">
            <a href="/home"><p>Home</p></a>
            <a href="#aboutus"><p>About</p></a>
            <a href="#contactus"><p>Contact Us</p></a>
            <a href="/index"><p>Search</p></a>
        </div>
    </header>
    <div class="home">
        <h1>
            Travel Guide For Beginnners
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum ullamcorper congue. Nam nec interdum lectus, nec pulvinar felis. Nunc in ipsum felis. Quisque rhoncus consectetur nibh nec tincidunt. Phasellus fermentum malesuada dolor, non condimentum justo consequat at. Donec congue, sapien tempor pulvinar auctor, metus risus cursus lectus, at tristique dolor magna pellentesque est. Donec ultrices luctus neque eu mollis. Nam pulvinar mauris quis urna semper, id malesuada velit efficitur. Integer mattis consequat odio, vitae imperdiet purus cursus id.
        </p>
        <img src="./media/pexels-pixabay-210243.jpg"/>
    </div>
    <div class="Aboutus" id="aboutus">
        <h1>
            About us
        </h1>
        <p>
            Mauris neque ex, ultricies nec diam in, condimentum scelerisque justo. Nam in urna at orci tempor condimentum non sit amet quam. Aenean leo eros, ultrices a dolor ut, fermentum sollicitudin tortor. Mauris nec erat et orci fermentum efficitur. Etiam mollis, lacus ultrices mollis sodales, odio diam scelerisque tortor, ut mattis velit magna sed ex. Donec dolor elit, faucibus eget ex at, tempor fermentum nisi. Nullam rutrum eu velit sed iaculis. Aenean eleifend ipsum cursus augue maximus lacinia. Sed ut vulputate augue. Morbi viverra velit velit, vitae ultrices velit sodales eu. Vestibulum tristique tortor eu dictum convallis. Nullam et semper sem.
        </p>
        <p>
            Quisque non vehicula sem, at mollis metus. Etiam eget ex vel nisl convallis convallis id vitae mi. Cras varius ornare neque. Sed tincidunt varius risus nec mattis. Quisque quis porta purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean accumsan quis nulla vitae pharetra. Morbi sit amet imperdiet libero. Aliquam dui nisl, ultricies in metus sit amet, finibus consequat ex. Aliquam gravida libero velit, a interdum risus viverra id. Mauris ornare quam et vestibulum tempus. Vestibulum ac mi et lorem blandit rhoncus. Curabitur ultricies pellentesque felis, nec molestie augue sodales non. Integer at felis tincidunt, semper eros et, vestibulum mi.
        </p>
        <p>
            Nam suscipit sagittis nisl, quis pharetra nunc viverra a. Phasellus erat urna, vehicula ut diam eu, tincidunt bibendum elit. Maecenas lacinia, ante a fermentum laoreet, enim risus accumsan sapien, ut tincidunt nulla massa ac magna. Proin non libero posuere est vestibulum dictum nec in elit. Nullam eleifend aliquet rhoncus. Duis sed tortor egestas, lobortis nisi vestibulum, aliquet dui. Vestibulum non ultrices ligula. In augue nibh, tempus vel tortor non, maximus efficitur lectus. Quisque ut enim lacus. Proin elementum ullamcorper dolor, quis bibendum massa sagittis nec. Fusce feugiat ultrices dictum. Curabitur at massa sed ipsum aliquet aliquet.
        </p>
        <p>
            Donec cursus neque id tristique suscipit. Donec sed dictum tellus. Quisque hendrerit leo in neque bibendum, ac pretium orci ullamcorper. Nam ac erat sed eros semper vulputate sit amet a velit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut vel pharetra tellus. Sed maximus pellentesque nisi non gravida. Sed ac quam eu ante volutpat porttitor. Duis purus libero, cursus ut massa eget, fringilla sodales est. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
    </div>
    <div class="contact" id="contactus">
        <h1>
            Contact Us
        </h1>
        <div id="info">
            <div id="info1">
                <h2>
                    Get in Touch
                </h2>
                <p>
                    We value your feedback and are here to assist you in any way we can. Whether you have a question, suggestion, or just want to say hello, we'd love to hear from you. Reach out to us using the contact information below or fill out the form, and we'll get back to you as soon as possible
                </p>
            </div>
            <div id="info2">
                <h2>
                    Contact Information
                </h2>
                <p>
                    Address: [Your Company Address]<br>
                    Phone: [+XX-XXX-XXX-XXXX]<br>
                    Email: [contact@yourcompany.com]<br>
                </p>
                <h2>
                    Business Hours
                </h2>
                <p>
                    Monday - Friday: 9:00 AM to 5:00 PM (Your Timezone)<br>
                    Saturday - Sunday: Closed
                </p>
            </div>
        </div>
    </div>
    <footer>
        <div class="title1">
            <span class="material-symbols-outlined" style="zoom: 4;">
                travel
            </span>
            <h1>Tripmaker</h1>
        </div>
        <div class="item1">
            <a href="/home" id="foot"><p>Home</p></a>
            <a href="#aboutus" id="foot"><p>About</p></a>
            <a href="#contactus" id="foot"><p>Contact Us</p></a>
            <a href="/index" id="foot"><p>Search</p></a>
        </div>
        <div class="socials">
            <p><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="#DDC1A7" height="20px" width="20px"><!--! Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/></svg> Instagram</p>
            <p><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="#DDC1A7" height="20px" width="20px"><!--! Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/></svg>Linkedin</p>
            <p><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="#DDC1A7" height="20px" width="20px"><!--! Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg>X</p>
            <p><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="#DDC1A7" height="20px" width="20px"><!--! Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"/></svg>Facebook</p>
        </div>
    </footer>
</body>
</html>